
/* reset */

html, body, h1, h2, h3, nav, ul, li {
    
    padding: 0px;
    margin: 0px;
}

body {
    /* background: #f0f3f7; */
    background: #fff;
    font-family: 'Muli', sans-serif;
    

 
}

input[type="file"] {
    display: none;
}

.orange {
    color: rgb(218, 162, 77);
}
.red {
    color: rgb(224, 77, 77);
}

.orange:hover {
    color: rgb(170, 117, 37);
}
.red:hover {
    color: rgb(170, 35, 35);
}

.h3 {
    padding: 10px; 
    text-align: center;
}

.max-button {
    max-height: 20px !important;
}

.hide {
   pointer-events: none;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


